---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import Particles from '~/components/dockit/ParticlesClean.astro';

import type { Hero as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="relative md:-mt-[76px] not-prose" data-hero-section {...id ? { id } : {}}>
  <!-- Matrix-inspired particle effects -->
  <Particles className="opacity-80" />

  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : null}
    </slot>
  </div>
  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] lg:pt-0 pointer-events-none"></div>
    <div class="py-12 md:py-20 lg:flex lg:items-center lg:h-[calc(100vh-76px)] lg:justify-center lg:py-0 lg:mt-[76px]">
      <div class="text-center md:pb-16 mx-auto max-w-4xl lg:pb-0">
        {
          tagline && (
            <p
              class="text-base text-secondar pb-5 dark:text-blue-200 font-bold tracking-wide uppercase intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter"
              set:html={tagline}
            />
          )
        }
        {
          title && (
            <h1
              class="pb-5 text-5xl md:text-6xl font-bold leading-tighter mb-4 font-heading dark:text-gray-200 intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter"
              set:html={title}
            />
          )
        }
        {
          subtitle && (
            <p
              class="text-xl text-muted pb-5 mb-6 dark:text-slate-300 intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter"
              set:html={subtitle}
            />
          )
        }

        {
          actions && (
            <div class="max-w-xs sm:max-w-md mx-auto flex flex-nowrap flex-col sm:flex-row justify-center gap-4 intersect-once motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 intersect-quarter">
              {Array.isArray(actions) ? (
                actions.map((action) => (
                  <div class="flex w-full sm:w-auto">
                    <Button {...(action || {})} class="w-full sm:mb-0" />
                  </div>
                ))
              ) : (
                <Fragment set:html={actions} />
              )}
            </div>
          )
        }
        {content && <Fragment set:html={content} />}
      </div>
    </div>
  </div>
</section>
